<div id="about-us">
	<div class="row m-0">
		<div class="col-12 col-md-4 p-0">
			<div class="row m-0">
				<h5>Последний объект</h5>
				<a href="#"><span>Все объекты</span></a>
			</div>	
			<div id="last-object">
				[[!pdoResources?
					&useWeblinkUrl=`1`
		            &parents=`9`
		            &ajaxMode=`button`
		            &limit=`1`
		            &tpl=`@INLINE <a href="[[+link]]"><img itemprop="image" src="[[+tv.image]]" alt="Последний объект">[[+pagetitle]]</a>`
		            &includeTVs=`image`
		        ]]
			</div>	
			<div class="row ml-0 mr-0" style="margin-top: 15px;">
				<h5>Новости</h5>
				<a href="#"><span>Все новости</span></a>
			</div>
			<div id="news-block">
				[[!pdoResources?
					&useWeblinkUrl=`1`
		            &parents=`8`
		            &ajaxMode=`button`
		            &limit=`2`
		            &tpl=`@INLINE <a href="[[+link]]">
		            				<div class="news col-12">
		            					<div class="row m-0">
				            				<div class="col-12 col-lg-5 pl-0">
				            					<img itemprop="image" src="[[+tv.image]]" alt="Последний объект">
				            				</div>
				            				<div class="col">
				            					<span>[[+tv.date]]</span>
				            					<p>
				            						[[+description]]
				            					</p>
				            				</div>
				            			</div>
		            				</div>			            			
			            		</a>`
		            &includeTVs=`image,date`
		        ]]
			</div>	
			<div id="presentation" class="text-right">
				[[!pdoResources?
		            &parents=`0`
		            &resources=`13`
		            &ajaxMode=`button`
		            &limit=`1`
		            &tpl=`@INLINE <a href="[[+tv.url]]">[[+pagetitle]]</a>`
		            &includeTVs=`url`
		        ]]
			</div>	
		</div>
		<div class="col">
			<h3>О компании «Ватан Плюс»</h3>
			<p>
				ООО ПКП «Ватан плюс» - технологическая инжиниринговая и проектная компания российского уровня, выполняющая комплексное проектирование и инженерные изыскания объектов транспорта и хранения нефти и газа и сетей инженерно-технического обеспечения населенных пунктов.
				Основными направлениями проектирования являются: системы газораспределения и газопотребления, сети водоснабжения, водоотведение, электроснабжение, газоснабжения, а также систем промыслового и магистрального транспорта углеводородного сырья.
				В процессе работы используются современные инжиниринговые решения, передовые технологии и накопленный опыт, опираясь на профессионализм квалифицированных специалистов.
				Предприятие имеет необходимые допуски к выполнению проектных и изыскательских работ, обладает необходимыми материально-техническими ресурсами и инновационными средствами автоматизированного проектирования.
			</p>
			<p>
				Ватан плюс предоставляет полный спектр услуг по инженерным изысканиям, проектированию и авторскому надзору строительства, управлению проектами. Компания специализируется на выполнении как отдельных видов работ на условиях соисполнения и субподряда, так и проектов в целом в качестве генерального проектировщика.
				Комплексный подход к проектированию, предъявляемый ООО ПКП «Ватан плюс» к каждому проекту, заключающийся в формировании и постоянном контроле критического пути на различных этапах реализации проекта, позволяет исключить риски задержки при сборе исходно-разрешительной документации, получении всех необходимых согласований и прохождения различного рода слушаний и экспертиз на региональных и федеральном уровнях.
			</p>
			<a href="#">
				<div class="btn">Узнать больше о компании</div>
			</a>
		</div>
	</div>
</div>