<div id="advantages">
	<h3>Наши преимущества</h3>
	<div class="row m-0">
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="picture.svg">
			  <img src="assets/components/templates/svg/constructro-and-tools.svg" alt="Проектирование">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Более 500 проектов</h6>
			</div>			
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="picture.svg">
			  <img src="assets/components/templates/svg/constructro-and-tools.svg" alt="Проектирование">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>10 лет на рынке и безупречная репутация</h6>
			</div>	
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="picture.svg">
			  <img src="assets/components/templates/svg/constructro-and-tools.svg" alt="Проектирование">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Гибкая ценовая политика</h6>
			</div>	
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="picture.svg">
			  <img src="assets/components/templates/svg/constructro-and-tools.svg" alt="Проектирование">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Высококвалифицированный персонал</h6>
			</div>	
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="picture.svg">
			  <img src="assets/components/templates/svg/constructro-and-tools.svg" alt="Проектирование">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Использование современной техники и оборудования</h6>
			</div>	
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="picture.svg">
			  <img src="assets/components/templates/svg/constructro-and-tools.svg" alt="Проектирование">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Полный цикл проектно-изыскательских работ своими силами</h6>
			</div>	
		</div>
	</div>
</div>