<div id="advantages">
	<h3>Наши преимущества</h3>
	<div class="row m-0">
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="assets/components/templates/svg/constructro-and-tools.svg">
			  <img src="assets/components/templates/svg/constructro-and-tools.svg" alt="Более 500 проектов">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Более 500 проектов</h6>
			</div>			
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="assets/components/templates/svg/laurel.svg">
			  <img src="assets/components/templates/svg/laurel.svg" alt="10 лет на рынке и безупречная репутация">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>10 лет на рынке и безупречная репутация</h6>
			</div>	
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="assets/components/templates/svg/discount-label.svg">
			  <img src="assets/components/templates/svg/discount-label.svg" alt="Гибкая ценовая политика">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Гибкая ценовая политика</h6>
			</div>	
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="assets/components/templates/svg/person.svg">
			  <img src="assets/components/templates/svg/person.svg" alt="Высококвалифицированный персонал">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Высококвалифицированный персонал</h6>
			</div>	
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="assets/components/templates/svg/dump.svg">
			  <img src="assets/components/templates/svg/dump.svg" alt="Использование современной техники и оборудования">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Использование современной техники и оборудования</h6>
			</div>	
		</div>
		<div class="col-12 col-md-4">
			<object type="image/svg+xml" data="assets/components/templates/svg/parquet.svg">
			  <img src="assets/components/templates/svg/parquet.svg" alt="Полный цикл проектно-изыскательских работ своими силами">
			</object>
			<div class="col-12 pl-0 pr-0">
				<h6>Полный цикл проектно-изыскательских работ своими силами</h6>
			</div>	
		</div>
	</div>
</div>