<div id="directions">
	<h3>Основные направления</h3>
	<div class="row m-0">
		<div class="direction col-12 col-md-3 pr-0">
			<a href="">
				<div class="row m-0">
					<div class="col-4 pl-0">
						<object type="image/svg+xml" data="picture.svg">
						  <img src="assets/components/templates/svg/architecture.svg" alt="Проектирование">
						</object>
					</div>		
					<div class="col">
						<div class="col pl-0">
							<h5>Проектирование</h5>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="direction col-12 col-md-3 pr-0">
			<a href="">
				<div class="row m-0">
					<div class="col-4 pl-0">
						<object type="image/svg+xml" data="picture.svg">
						  <img src="assets/components/templates/svg/ingeneer.svg" alt="Инженерные изыскания">
						</object>
					</div>		
					<div class="col">
						<div class="col pl-0">
							<h5>Инженерные изыскания</h5>
						</div>
					</div>
				</div>
			</a>			
		</div>
		<div class="direction col-12 col-md-3 pr-0">
			<a href="">
				<div class="row m-0">
					<div class="col-4 pl-0">
						<object type="image/svg+xml" data="picture.svg">
						  <img src="assets/components/templates/svg/worker.svg" alt="Технический инжиниринг">
						</object>
					</div>		
					<div class="col">
						<div class="col pl-0">
							<h5>Технический инжиниринг</h5>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="direction col-12 col-md-3 pr-0">
			<a href="">
				<div class="row m-0">
					<div class="col-4 pl-0">
						<object type="image/svg+xml" data="picture.svg">
						  <img src="assets/components/templates/svg/atom.svg" alt="Научные исследования">
						</object>
					</div>		
					<div class="col">
						<div class="col pl-0">
							<h5>Научные исследования</h5>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>