<nav class="navbar navbar-expand-lg">
  <div class="navbar-brand col-lg-4 order-1">
    <div class="row m-0">
      <div class="col-12 col-md-3 col-lg-5">
        <a href="#">
          <img src="assets/components/templates/images/logo.png" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-9 col-lg-7 text-justify p-0 d-none d-md-block" style="white-space: normal;font-family: Open Sans;font-style: normal;font-weight: normal;">
        Комплексное проектирование и инженерные изыскания. Системы газораспределения и газопотребления. Системы водоснабжения. Промысловый и магитсральный транспорт нефти и газа.
      </div> 
    </div>       
  </div>    
  <div class="col order-2">
    <div id="contact-block">
      <div class="row m-0">
        <div class="col-12 col-sm-7 col-md-3 text-center text-md-left"><i class="fas fa-map-marker-alt"></i> г.Уфа, ул. Комарова д.8</div>
        <div class="col-12 col-sm-5 col-md-3 text-center text-md-left"><a href="mailtto:mail@mail.ru"><i class="far fa-envelope"></i> mail@mail.ru</a></div>
        <div class="col-12 col-md-3 text-center text-md-left" id="phone"><a href="tel:+73475121985"><i class="fas fa-phone-alt"></i> +7(347)512-19-85</a></div>
        <div class="col-12 col-md-3">
          <a href="#">
            <div id="send-mail">
              <span>Написать письмо</span>
            </div>
          </a>
        </div>
      </div>    
    </div>
    <div class="col-12 order-3 order-md-4" id="menu-button">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navigation" aria-controls="header-navigation" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button> 
    </div>
    [[pdoMenu?
      &parents=`0`
      &level=`2`
      &outerClass=`navbar-nav`
      &tplOuter=`@INLINE <ul id="header-navigation" class="collapse navbar-collapse navbar-nav order-4 order-md-3">[[+wrapper]]</ul>`
      &tpl=`@INLINE <li[[+classes]]><a href="[[+link]]" [[+attributes]] class="nav-link">[[+menutitle]]</a>[[+wrapper]]</li>`
      &rowClass=`nav-item`
      &parentClass=`dropdown`
      &tplParentRow=`@INLINE <li[[+classes]]>
                              <a href="[[+link]]" [[+attributes]] class="nav-link dropdown-toggle" data-toggle="dropdown">[[+menutitle]]</a>
                              <ul class="dropdown-menu">                                
                                <a class="dropdown-item" href="[[+link]]" [[+attributes]] class="nav-link">[[+menutitle]]</a>
                                <div class="dropdown-divider"></div>
                                [[+wrapper]]
                              </ul>
                            </li>`
      &tplInner=`@INLINE [[+wrapper]]`
      ]]
  </div>     
</nav>