<div id="mainPageSlider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row m-0">
        <div class="col-12 col-lg-7 col-xl-5 p-0">
          <h2>Системы газораспределения и газопотребления</h2>
          <div class="container">
            <p>Спустя 22 года на рынке технической диагностики и экспертизы промышленной безопасности мы остаемся новаторами в сфере неразрушающего контроля</p>
          </div>          
        </div>
        <div class="col-12 col-lg-5 col-xl-7">
          <img class="d-block w-100" src="assets/components/templates/images/first_slide.png" alt="Первый слайд">
        </div>
      </div>            
    </div>
  </div>
  <a class="carousel-control-prev" href="#mainPageSlider" role="button" data-slide="prev">
    <i class="fas fa-arrow-left"></i>
  </a>
  <a class="carousel-control-next" href="#mainPageSlider" role="button" data-slide="next">
    <i class="fas fa-arrow-right"></i>
  </a>
</div>